@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  background-color: #f1feff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
 
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 270px;
  margin: 20px auto;

  box-shadow: 0 2px 4px rgba(0,0,0,.25);
  border-radius: 5px;
  background-color: #ffffff;
}

.description {
  display: block;
  text-align: center;
  margin: 30px auto;
}


.description > p {
  display: block;
  font-size: 11pt;
 margin: 10px auto;
 color: rgb(117, 117, 117);
}

.profile .description .name {
  font-size: 15pt;
  font-style: normal;
  font-weight: 600;
}

.photo_avatar {
    width: 130px;
    height: 130px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    background-color: #eff8fc;
  }
  
  .avatar {
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.stats {
display: block;
margin: 0;
padding: 0;
display: flex;
width: 270px;
flex-direction: row;
justify-content: center;
/* margin: 0 auto; */
  background-color: rgb(208, 242, 242);
}

.stats li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10pt;
  color: #595959;
  margin: 10px;
}

.quantity {
  font-weight: 700;
}