@import-normalize; /* bring in normalize.css styles */

/* rest of app styles */

body {
  margin: 0;
  background-color: #f1feff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Segoe UI',
  sans-serif;
}

/* #root {
 
} */

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 270px;
  margin: 20px auto;

  box-shadow: 0 2px 4px rgba(0,0,0,.25);
  border-radius: 5px;
  background-color: #ffffff;
}

.description {
  display: block;
  text-align: center;
  margin: 30px auto;
}


.description > p {
  display: block;
  font-size: 11pt;
 margin: 10px auto;
 color: rgb(117, 117, 117);
}

.profile .description .name {
  font-size: 15pt;
  font-style: normal;
  font-weight: 700;
}

.photo_avatar {
    width: 130px;
    height: 130px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    background-color: #eff8fc;
  }
  
.avatar {
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.stats {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  border-right: #cccccc solid 1px;
  background-color: rgb(208, 242, 242);
}

.stats li {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 10pt;
  color: #595959;
  border-left: #cccccc solid 1px;
  border-top: #cccccc solid 1px;
  border-bottom: #cccccc solid 1px;
  padding: 23px;
  
}

.quantity {
  font-size: 12pt;
  font-weight: 700;
  padding-top: 5px;
}

.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 270px;
  margin: 20px auto;
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  border-radius: 5px;
  background-color: #ffffff;
}

.title {
  font-size: 20px;
  margin: 20px auto;
}

.stat-list {
  list-style: none;
  display: flex;

 
  margin: 0;
  padding:  0; 

  align-content: space-between;
 
}

.item {
  display: flex;
  
    flex-direction: column;
    text-align: center;
    font-size: 14pt;
    color: #ffffff;
    border-left: #cccccc solid 1px;
    border-top: #cccccc solid 1px;
    border-bottom: #cccccc solid 1px;
    background-color: #8bcde2;
    padding: 16px;
    
}

.item .label {
      font-size: 10pt;
}